[submodule "moedas"]
	path = moedas
	url = https://github.com/Relampago-Martins/moedas.git
[submodule "projac_backend"]
	path = projac_backend
	url = https://github.com/Projetos-Faculdade-UCS/projac_backend.git
